    *{
        margin: 0;
        padding:0;
    }
      #container{
          display: flex;
          justify-content: center;
         align-items: center;
          height: 70vh;
          width: 100vw;
          flex-direction: column;
          gap: 50px;
          ;
          border-radius: 100px;
          
      } 
      body{
          background-color:#828282;
          position: fixed;
          height: 100vh;
          width: 100vw;
      }
      #color{
          width:10vh;
          height: 5vh;
          border-radius: 1vh;
          border-color:red;
          cursor: pointer;
      }
      #text{
          border: none;
          background: linear-gradient(
          #474747,black
          );
          color:white;
          height: 5vh;
          font-size: 2vh;
          width:30vh;
          
      }
      #btn{
          height: 5vh;
          width: 15vh;
          border-radius: 1vh;
          border: 2px solid green;
          background-color: #fff88f;
          font-size: 2vh;
      }
      h1{
         
          text-align: center;
       margin-top: 70px;
       color: #00ffb3;
      }
      #c2{
          display: flex;
          flex-direction: row;
      }
     .t1{
         position: relative;
         top:1vh;
         color:#ff9191;
         left: -2vh;
         font-size: 3vh;
         }
        
     